@include once() {
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #f7f7f7;
        
        margin-top: auto;
        //position: relative;
        //bottom: 0;
        //display: flex;
        //margin-top: 10px;
    }
}

/*
    footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

*/