@include once {
    .LandingContainer {
        display: grid;
        //grid-template-columns: repeat(var(--num-grid-columns), 1fr);
        //grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        align-items: center;
        justify-items: center;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        //--num-grid-columns: 12;
        //grid-auto-rows: minmax(100px, auto);
    }
    .InnerImageContainer {
        width: 100%;
        //grid-column: span 7;
        grid-row: 1;
    }
    .TextContainer {
        //grid-column: 9/span 4;
        text-align: center;
        grid-row: 1;
        height: 100%;
    }
    // .InnerImage {
    //     width: 100% !important;
    //     height: auto !important;
    // }
}