@include once {
    .LandingContainer {}
    .ImageAndTextContainer {
        position: relative;
    }
    .ImageContainer {
        //height: 40vh;
        //max-height: 80vh;
        // topoverflow: hidden;
    }
    .TextContainer {
        position: absolute;
        //top: 8px;
        left: 16px;
        //right: 50%;
    }
    .InnerImage {
        object-fit: cover,
    }
}