@include once() {
    #rightBar {
        //width: 50px;
        //height: 0px;
        //left: 0px;
        margin-left: auto;
        width: 50px;
        height: 0px;
    }
    #leftBar {
        width: 250px;
        height: 0px;
        // visibility: visible;
        // position: fixed;
        // width: auto;
        // display: flex;
        // flex-direction: column;
        // top: 0px;
        // height: 100vh;
        // background-color: #3b424d;
        // z-index: 10;
    }
    .Glass {
        position: fixed;
        visibility: hidden;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
        background-color: black;
    }
}