html {
    display: initial;
    position: initial;
    overscroll-behavior-x: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

.js {
    //display: none;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: normal;
    line-height: 1.5;
    touch-action: none;
    margin: 0;
}



:not(.js) material-design-icon-block>svg {
    width: 24px
}





.js * {
    scrollbar-width: none;
}
.js *::-webkit-scrollbar {
    display: none;
}

head {
    display: none;
}



.js * {
    tab-size: 4;
    touch-action: inherit;
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    //z-index: inherit;
    position: absolute;
    //position: inherit;
    margin: 0;
    visibility: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: inherit;
    text-decoration-line: inherit;
    color: inherit;
    justify-content: inherit;
    align-content: inherit;
    text-align: inherit;
    box-sizing: border-box;
    word-break: keep-all;
    //cursor: inherit;
    //word-wrap: break-word;
    //overflow: clip;
    //overflow: hidden;
    white-space: inherit;
}

.js a * {
    //text-decoration-line: underline;
}



    /** {
        outline: 0.1px solid #f00 !important;
    }*/



