@mixin Transition($params...) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}

@mixin MaterialShadow {
    @include BoxShadow( 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
}

@mixin MaterialShadowHover {
    @include Transition( box-shadow 0.15s ease-in-out);
    &:hover {
        @include BoxShadow( 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));
    }
}

$EnableShadows: false;
@mixin BoxShadow($shadow...) {
    @if $EnableShadows {
        $result: ();
        @if (length($shadow)==1) {
            $result: $shadow;
        }
        @else {
            @for $i from 1 through length($shadow) {
                @if nth($shadow, $i) !="none" {
                    $result: append($result, nth($shadow, $i), "comma");
                }
            }
        }
        @if (length($result) > 0) {
            -webkit-box-shadow: $result;
            -moz-box-shadow: $result;
            box-shadow: $result;
        }
    }
}

@include once() {
    .MaterialCard {
        visibility: hidden;
        $backgroundColor: rgba(27, 30, 35, 0.7);
        $height: 200px;
        $fadeHeight: 32px;
        position: relative;
        width: 100%;
        display: inline-block;
        height: $height;
        border-radius: 3px;
        overflow: hidden;
        text-decoration: none;
        font-family: "Roboto";
        font-weight: 500;
        .Title,
        .Text {
            top: 0;
            font-size: 20px;
            text-align: left;
            background-color: $backgroundColor;
            position: inherit;
            width: 100%;
            text-decoration: none;
            margin: 0;
        }
        &.MouseOver {
            >.MaterialCardSlider {
                transform: translateY(0);
            }
        }
        >.MaterialCardSlider {
            @include Transition(.3s);
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateY(100%);
            >.Title {
                position: absolute;
                padding: 6px 16px;
                transform: translateY(-100%);
                color: #f2f4f6;
                line-height: 1.3em;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
            }
            .Text {
                padding: 0;
                background-color: transparent;
                font-size: 16px;
                line-height: 1.3em;
                position: static;
                height: 100%;
                color: #D4D8DF;
                font-weight: 400;
            }
            >.Text {
                padding: 0 16px 3px 16px;
                padding-bottom: 12px;
                background-color: $backgroundColor;
            }
        }
        &>.RiseUpContent {
            background-color: $backgroundColor;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            color: inherit;
        }
        &>.Image {
            width: 100%;
            height: $height;
        }
        &:active {
            @include BoxShadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
        }
        &.Mobile {
            >.Text {
                visibility: hidden;
            }
            &.MouseOver .Title,
            &.MouseOver>.Text {
                transform: translateY(-100%);
                top: 0;
            }
        }
    }
}