
.inline-container {
    white-space: break-spaces;
}

.inline-container * {
    
    position: static;
    display: inline;
}

.inline-container a * {
    text-decoration-line: underline;
}

/*body.js paragraph>p * {
    
}*/

