
.inline-container {
    white-space: break-spaces;
}

    .inline-container * {
        position: static;
        display: inline;
        vertical-align: baseline;
    }

    .inline-container a {
        text-decoration-line: underline;
    }


