/*.GitHubLink {
    text-decoration: none;
    float: left;
}
.GitHubLink::after {
    color: #666;
    position: absolute;
    font-family: "Material Design Icons";
    font-size: 1.7rem;
    content: "\F02A4";
    margin-left: -1.2em;
}
@media only screen and (max-width: 880px) {
    .GitHubLink {
        float: right;
    }
    .GitHubLink::after {
        position: relative;
        float: right;
        margin-left: 0;
    }
}*/

@include exports("GitHubLink") {
    @mixin GitHubLink {
        text-decoration: none;
        &:after {
            color: #666;
            font-family: "Material Design Icons";
            font-size: 1.7rem;
            content: "\F02A4";
        }
    }
    .Max,
    .Mid {
        .GitHubLink {
            @include GitHubLink;
            float: left;
            &:after {
                position: absolute;
                float: left;
                margin-left: -1.2em;
            }
        }
    }
    .Min .GitHubLink {
        @include GitHubLink;
        float: right;
        $size: 2.5rem;
        &:after {
            opacity: 0.5;
            position: absolute;
            float: right;
            font-size: $size;
            margin-left: -$size;
        }
        &~.code>pre {
            border-top-right-radius: $size/2;
        }
    }
}