@font-face {
  font-family: 'Antilatency';
  src:  url($current-directory+'/antilatency.eot?7274rf');
  src:  url($current-directory+'/antilatency.eot?7274rf#iefix') format('embedded-opentype'),
    url($current-directory+'/antilatency.ttf?7274rf') format('truetype'),
    url($current-directory+'/antilatency.woff?7274rf') format('woff'),
    url($current-directory+'/antilatency.svg?7274rf#antilatency') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}