@include once() {
    .ImageContainer {
        // position: relative;
    }
    .InnerImage {
        width: 100%;
        height: auto;
        //transform: "translate(0px, 0px)";
    }
    .TextContainer {
        position: absolute;
        top: 0px;
    }
}